:root{
    --branco: #FFF;
    --azul-claro: #DFE3E5;
    --vermelho-forte: #B72E2E;
    --cinza-escuro: #4F4C4C;
    --cinza-claro: #F7F4F4;
    --cinza-medio: #D9D9D9;

    --fonte-link: #0084FF;
    --fonte-cinza: #666;
    --borda-cabecalho-mobile: #103D4A;
    --bg-rodape: #333;
    --bg-chamada-mobile: #00161C;

    --planos-cartao-start: #56CCF2;
    --planos-cartao-ultra: #B04CD9;
    --planos-cartao-mega: #E33B3B;

    --montserrat: 'Montserrat', sans-serif;
    --fonte-texto: font-family: 'Raleway', sans-serif;
}
html{
     scroll-behavior: smooth; /*desce a barra suavemente */
}
body{
    
    font-family: 'Open Sans', sans-serif;
}
.container{
    margin-left: 6%;
    margin-right: 6%;
}
.botao{
    display: block;
    text-align: center;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box; /*faz respeitar o width máximo do pai(.container)*/
    border: 1px solid var(--branco);
    padding: 1rem 2rem;
    border-radius: 5px;
}

@media screen and (min-width: 813px) {
    body{
        background-image: url(../img/backgroud/background-tv7.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        object-fit: cover;
        background-attachment: fixed;
    }
}
@media screen and (max-width: 812px) {
    body{
        background-image: url(../img/backgroud/celular-spiderman.gif);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
    }
    .botao {
        display: block;
        text-align: center;
        width: 100%;
        max-width: 350px;
        box-sizing: border-box;
        /*faz respeitar o width máximo do pai(.container)*/
        padding: 1rem 2rem;
        border-radius: 5px;
        margin-top: 5rem;
    }
}
