.cabecalhoPrincipal {
    width: 100%;
    backdrop-filter: blur(4px);
    position: fixed;
    top: 0;
    z-index: 4;
}
.container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.img-logo{
    background-color: var(--branco);
    border-radius: 25px 50px 50px 25px;
    width: 60px;
}
.navegacao{
    display: flex;
}
.botao-menu{
    display: none;
    width: 60px;
    height: 56px;
}
.botao-menu-img{
    background-color: transparent;
    border: none;
    width: 60px;
    height: 56px;
}
.botao-menu img{
    width: 46px;
    height: 46px;
}

/* mobile */
.mobile-menu{
    display: none;
}
.ul-mobile{
    display: none;
}
.cabecalhoPrincipal-nav button{
    display: none;
}
/* =====fim mobile =====*/

.cabecalhoPrincipal-titulo{
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 20px;
}

.cabecalhoPrincipal-titulo a {
    text-decoration: none;
    color: inherit;
}

.cabecalhoPrincipal-nav-link {
    margin-left: .5rem;
    padding: 10px;
    color: var(--fonte-link);
    background-color: #FFF;
    text-decoration: none;
    transition: .5s;
    border-radius: 8px;
    display: block;
    border: outset 1px Darkgray;
    border-width: 2px;
}
.cabecalhoPrincipal-nav-link:hover {
    color: #FFF;
    background-color: var(--fonte-link);
}
.conteudoPrincipal {
    margin-top: 20px;
    margin-bottom: 20px;
}

.subtitulo {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
}

.conteudoPrincipal-cursos-link {
    height: 100px;
    background-color: #FFF;
    text-align: center;
    margin: 1%;
    transition: .3s;
    box-shadow: 2px 2px 2px #CCC;
    position: relative;
}


.conteudoPrincipal-cursos-link:hover {
    box-shadow: 4px 4px 4px #CCC;
}


.conteudoPrincipal-cursos-link a:before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    margin: 10px auto;
}

@media screen and (max-width: 812px) {
    .cabecalhoPrincipal {
        width: 100%;
        backdrop-filter: none;
        position: absolute;
        top: 0;
        left: 1rem;
        z-index: 3;
        padding: .5rem 0 0 0;
    }
    .container-header{
        flex-direction: column;
    }
    .cabecalhoPrincipal-titulo{
        position: absolute;
        top: .5rem;
        left: 0;
    }
    .cabecalhoPrincipal-nav{
        border: solid 2 white;
    }
    
    /* mobile   */
    .navegacao {
        display: none;
    }
    .container-header{
        align-items: end;
    }
    .mobile-menu {
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 50%;
    }
    .botao-menu-img{
        cursor: pointer;
    }
    .botao-menu {
        display: flex;
    }
    #lista-menu-mobile {
        background-color: #FFF;
        opacity: 0.9;
        margin-top: 1.5vh;
        margin-bottom: .5vh;
        border-radius: 8px;
        border: outset 1px Darkgray;
        border-width: 2px;
    }
    #lista-menu-mobile:hover {
        color: #FFF;
        background-color: var(--fonte-link);
    }
    .open{
        display: flex;
        flex-direction: column;
    }
}
