.cabecalhoPrincipal {
    width: 100%;
    backdrop-filter: blur(4px);
    position: fixed;
    top: 0;
    z-index: 4;
}
.container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.img-logo{
    background-color: var(--branco);
    border-radius: 25px 50px 50px 25px;
    width: 60px;
}

.navegacao{
    display: flex;
}
.botao-menu{
    display: none;
    width: 60px;
    height: 56px;
}
.botao-menu-img{
    background-color: transparent;
    border: none;
    width: 60px;
    height: 56px;
}
.botao-menu img{
    width: 46px;
    height: 46px;
}

.mobile-menu{
    display: none;
}
.cabecalhoPrincipal-nav button{
    display: none;
}

.cabecalhoPrincipal-titulo{
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 20px;
}

.cabecalhoPrincipal-titulo a {
    text-decoration: none;
    color: inherit;
}

.cabecalhoPrincipal-nav-link {
    margin-left: .5rem;
    padding: 10px;
    color: var(--fonte-link);
    background-color: #FFF;
    text-decoration: none;
    transition: .5s;
    border-radius: 8px;
    display: block;
    border: outset 1px Darkgray;
    border-width: 2px;
}
.cabecalhoPrincipal-nav-link:hover {
    color: #FFF;
    background-color: var(--fonte-link);
}
.conteudoPrincipal {
    margin-top: 20px;
    margin-bottom: 20px;
}

.subtitulo {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
}

.conteudoPrincipal-cursos-link {
    height: 100px;
    background-color: #FFF;
    text-align: center;
    margin: 1%;
    transition: .3s;
    box-shadow: 2px 2px 2px #CCC;
    position: relative;
}


.conteudoPrincipal-cursos-link:hover {
    box-shadow: 4px 4px 4px #CCC;
}


.conteudoPrincipal-cursos-link a:before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    margin: 10px auto;
}

@media screen and (max-width: 812px) {
    .cabecalhoPrincipal {
        width: 100%;
        backdrop-filter: none;
        position: absolute;
        top: 0;
        left: 1rem;
        z-index: 3;
        padding: .5rem 0 0 0;
    }
    .container-header{
        flex-direction: column;
    }
    .cabecalhoPrincipal-titulo{
        position: absolute;
        top: .5rem;
        left: 0;
    }
    
    .cabecalhoPrincipal-nav{
        border: solid 2 white;
    }
    .cabecalhoPrincipal-nav-link{
        border: solid forestgreen;
    }
    .cabecalhoPrincipal-nav-link {
    background-color: #FFF;
    opacity: 0.9;
    margin-top: 1.5vh;
    margin-bottom: 2.1vh;
    border-radius: 8px;
    border: outset 1px Darkgray;
    border-width: 2px;
    }

    .cabecalhoPrincipal-nav-link:hover {
        color: #FFF;
        background-color: var(--fonte-link);
    }

        /* mobile   */

        .botao-menucabecalhoPrincipal-nav{
            border:  solid 2px green;
        }
        .navegacao {
            display: none;
        }            
        .botao-menu {
            border: solid red;
            display: flex;
            
        }
        .botao-menu img{
            border: solid purple;
            display: flex;
        }
       
    
        .mobile-menu {
            border: solid blue;
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: center;
        }
    
        /* fim mobile */
}

@media screen and (max-width: 794px) {
    
    
}