.cabecalhoPrincipal {
    border: solid;
    position: fixed;
    top: 0;
}
.container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.img-logo{
    width: 60px;
}
.cabecalhoPrincipal-nav {
    display: flex;
}

.cabecalhoPrincipal-titulo{
    border: solid blue;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 20px;
}

.cabecalhoPrincipal-titulo a {
    text-decoration: none;
    color: inherit;
}

.cabecalhoPrincipal-nav-link {
    margin-left: .5rem;
    padding: 10px;
    color: var(--fonte-link);
    background-color: #FFF;
    text-decoration: none;
    transition: .5s;
    display: block;

    border-bottom: 1px solid #9799A6;
}

.conteudoPrincipal {
    margin-top: 20px;
    margin-bottom: 20px;
}

.subtitulo {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
}

.conteudoPrincipal-cursos-link {
    height: 100px;
    background-color: #FFF;
    text-align: center;
    margin: 1%;
    transition: .3s;
    box-shadow: 2px 2px 2px #CCC;
    position: relative;
}

.conteudoPrincipal-cursos-link a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.conteudoPrincipal-cursos-link:hover {
    box-shadow: 4px 4px 4px #CCC;
}

.conteudoPrincipal-cursos-link a:before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    margin: 10px auto;
}

.conteudoPrincipal-cursos-link:nth-child(even) a:before {
    background: url(../img/background1.svg) no-repeat;
}

.conteudoPrincipal-cursos-link:nth-child(odd) a:before {
    background: url(../img/background2.svg) no-repeat;
}


.rodapePrincipal {
    background-color: #324C64;
    padding-top: 20px;
}

.rodapePrincipal .subtitulo {
    color: #FFF;
}

.rodapePrincipal-navMap-link {
    text-decoration: none;
    color: #FFF;
    margin-top: 10px;
}

.rodapePrincipal-navMap-link {
    font-size: .9em;
}

.navmap-list-title {
    font-weight: 700;
    font-size: 1.3em;
    margin: .9em 0;
    padding-left: .3em;
    padding-top: .2em;
    padding-bottom: .2em;
}

.navmap-list-title+.rodapePrincipal-navMap-link {
    margin-top: 0;
}

.navmap-list-title-bancoDeDados {
    color: #EC6E5A;
    border-left: 4px solid #EC6E5A;
}

.navmap-list-title-framework {
    color: #AD85BF;
    border-left: 4px solid #AD85BF;
}

.navmap-list-title-frontend {
    color: #5EC6F3;
    border-left: 4px solid #5EC6F3;
}

.navmap-list-title-backend {
    color: #25D285;
    border-left: 4px solid #25D285;
}



.rodapePrincipal-contatoForm-legend {
    margin-bottom: 10px;
}

@media(min-width: 795px) {
    .cabecalhoPrincipal{
    width: 88.5%;
    }
    .container {
        margin-left: 6%;
        margin-right: 6%;
    }

    .subtitulo {
        text-align: left;
    }

    .cabecalhoPrincipal-nav-link {
        border-radius: 5px;
        border: 1px solid #9799A6;
    }

    .cabecalhoPrincipal-nav-link:hover {
        color: #FFF;
        background-color: #9799A6;
    }

    .cabecalhoPrincipal-titulo {
        margin: 0;
    }

    .cabecalhoPrincipal-nav {
        width: auto;
    }

    .cabecalhoPrincipal-nav-link {
        width: auto;
        margin: 0 0 0 10px;
    }

    .rodapePrincipal-contatoForm {
        margin-top: 0;
        text-align: left;
    }
}

@media screen and (min-width:1024px){
    .cabecalhoPrincipal {
            width: 88.5%;
        }
    /* .cabecalho{
        flex-direction: row;
        justify-content: space-between;
        border-bottom:none;
    } */
}
@media screen and (min-width: 360px) {
    
    .container{
        margin-left: 3%;
        margin-right: 3%;
    }
    .cabecalhoPrincipal {
        width: 93.5%;
    }
    .container-header{
        display: flex;
        justify-content: space-between;
    }
}