.sec-contato{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-bottom: 3rem;
}
.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 296px;
    height: 250px;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
    background-color: #FFF;
    opacity: 0.9;
    margin-top: 1.5vh;
    margin-bottom: 2.1vh;
    border-radius: 8px;
    border: outset 1px Darkgray;
    border-width: 5px;

}

.contato__titulo {
    color: var(--branco);
    font-weight: 700;
    font-size: 1.8rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: .25rem;
}

.contato__botao {
    color: var(--fonte-link);
    margin-left: .5rem;
    padding: 10px;
    background-color: #FFF;
    text-decoration: none;
    transition: .5s;
    display: block;
}
.contato__botao {


    border-radius: 5px;
        border: 1px solid #9799A6;
        width: auto;
        margin: 0 0 0 10px;
        cursor: pointer;
}
.contato__botao:hover {
    color: #FFF;
        background-color: #9799A6;
}


.cabecalhoPrincipal-nav-link {
    margin-left: .5rem;
    padding: 10px;
    color: var(--fonte-link);
    background-color: #FFF;
    text-decoration: none;
    transition: .5s;
    display: block;

    border-bottom: 1px solid #9799A6;
}

