.planos {    
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-family: var(--fonte-texto);
    color: blue;
    
}

.planos__titulo {
    font-weight: bolder;
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 1.25rem;
}

.planos__cartoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.cartao {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    opacity: 0.9;
    margin-top: 1.5vh;
    margin-bottom: 2.1vh;
    border-radius: 8px;
    border: outset 1px Darkgray;
    border-width: 5px;
    width: 300px;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px 2px #00000010;
    transition: .6s;
}
.cartao:hover {
    transform: scale(1.03);

}

.cartao__titulo {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    padding: .75rem 0;
    margin-bottom: .5rem;
    border-bottom: 1px solid var(--azul-claro);
}

.cartao__conteudo {
    padding: 0 8%;
}

.cartao__preco {
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.cartao__texto {
    color: var(--fonte-cinza);
    line-height: 28px;
}

.cartao__botao {
    font-size: 1.2rem;
    font-weight: 700;
    width: 100%;
    align-self: center;
    padding: .75rem 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    text-decoration: none;
    transition: .1s;
    display: block;
    box-shadow: 3px 3px #999;
}
.cartao__botao:hover{
    color: #FFF;
    background-color: var(--fonte-link);
}
.cartao__botao:active{
    transform: translateX(3px);
    transform: translateY(3px);
    box-shadow: 0 0 #999;
}

.cartao--start {
    color: var(--planos-cartao-start);
}

.cartao--ultra {
    color: var(--planos-cartao-ultra);
}

.cartao--mega {
    color: var(--planos-cartao-mega);
}

.cartao__botao--start {
    border-color: var(--planos-cartao-start);
}

.cartao__botao--ultra {
    border-color: var(--planos-cartao-ultra);
}

.cartao__botao--mega {
    border-color: var(--planos-cartao-mega);
}

@media screen and (min-width:768px) {
    .cartao{
        max-width: 400px;
    }
}

@media screen and (min-width: 1024px) {
    .planos__cartoes {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .cartao {
        max-width: 300px;
    }
}
