.banner{
    padding-top: 6rem;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.noticia-banner{
    font-family: var(--fonte-texto);
    font-weight: bold;
    text-align: center;
    color: blue;
    width: 30vw;

    background-color: #FFF;
    opacity: 0.9;
    border-radius: 8px;
    border: outset 1px Darkgray;
    border-width: 5px;
}

.container-carrossel {
    display: flex;
    justify-items: flex-end;
}

/*Carrossel do menu*/
.card-logo-carrossel {
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    width: 55vw;
    height: auto;
    margin: .5rem auto;
    border-radius: 6px;
    
}

.div-carrossel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.div-carrossel img {
    object-fit: cover;
    width: 55vw;
    height: auto;
    border-radius: 6px;

}