#fade,
#modal {
    transition: .5s;
    opacity: 1;
    pointer-events: all;
    /*todos eventos do click funcionando, mas tem de ter opacidade 1, o hover faz isso*/
}

#fade {
    background-color: rgba(0, 0, 0, .6);
    /* cor de fundo com rgb só atinge o elemento de trás, já usar um hexadecimal atingi o tanto o fundo quanto a frente.  */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

#modal {
    position: fixed;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*tira 50% da altura e largura do top e left */
    z-index: 6;
    width: 550px;
    max-width: 90%;
    padding: 1.2rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    height: 80%;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    height: 30px;
}

.modal-header h2 {
    color: #2f4f4f;
    margin-top: 1.6rem;
}

/*tirando o evendo do click fora do modal*/
#modal.hide,
#fade.hide {
    opacity: 0;
    /*
    poderia ser display: none, mas opacidade pode usar animação na transição. */
    pointer-events: none;
    /*click do mouse não tem efeito*/
}

#modal.hide {
    top: 0;
}

#close-modal {
    background-color: gray;
    height: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

#close-modal:hover {
    background-color: #3e8e41;
}

.modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background-color: gray;
    width: 460px;
    height: 80%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.modal-body form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modal-body form label {
    color: #f5f5f5;
    font-size: 16px;
    margin-bottom: 4px;
}

.modal-body form input {
    padding: 8px;
    outline: none;
    border: 0;
    margin-bottom: 16px;
    font-size: 16px;
    transition: all .5s;
}

.modal-body form textarea {
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 16px;
    margin-bottom: 8px;
    transition: all.5s;
}

.modal-body form input:focus,
.modal-body form textarea:focus {
    transform: scale(1.03);
    border-radius: 5px;
}
.modal-botao{
    display: flex;
    justify-content: center;
    height: 12%;
}